type Examplecmd struct {}

func (ex *Examplecmd) Exec(kl *kernel.KernelLine, config *razboy.Config) (kernel.KernelCommand, error) {
	return ex, nil
}

func (ex *Examplecmd) GetName() string {
	return "cd"
}

func (ex *Examplecmd) GetCompleter() (kernel.CompleterFunction, bool) {
	return nil, false
}

func (ex *Examplecmd) GetResult() []byte {
	return make([]byte, 0)
}

func (ex *Examplecmd) GetResultStr() string {
	return ""
}
