type Examplecmd struct {}

func (ex *Examplecmd) Exec(kl *kernel.KernelLine, config *razboy.Config) kernel.KernelResponse {
	return kernel.KernelResponse{}
}

func (ex *Examplecmd) GetName() string {
	return "example"
}

func (ex *Examplecmd) GetCompleter() (kernel.CompleterFunction, bool) {
	return nil, false
}
